.gifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.tenor-gif-embed {
  width: 100%;
  overflow: hidden;
}

.tenor-gif-embed a {
  display: none;
}
