.container {
  background-color: #f8f4f0;
  padding: 80px 20px;
}

.title {
  text-align: center;
  /* color: #333; */
  font-size: 2rem;
  margin-bottom: 20px;
}
.title_description {
  color: black;
}
.section_title {
  text-align: center;
  color: #eb1f1f;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.title_acent {
  color: #eb1f1f;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}
.list_term {
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.items_term {
  background-color: #ffffff;
  border: 2px solid #eb1f1f;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.items {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #eb1f1f;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  min-height: 200px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
.discountRibbon {
  position: absolute;
  top: 250px;
  left: 130px;
  background-color: #eb1f1f;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  transform: rotate(-15deg);
  z-index: 1;
}
.items_name {
  font-size: 1.5rem;
  margin: 0;
}
.items_name span {
  font-size: 3rem;
  font-style: bold;
}

.items_price {
  font-size: 5rem;
  margin: 0;
}
.items:hover {
  transform: scale(1.05);
}
