body {
  margin: 0;
  font-family: "Patrick Hand", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(32, 30, 30);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
  font-weight: 600;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0; */
  paddin: 0 80px;
  background-color: rgb(32, 30, 30);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --swiper-theme-color: red;
}
